#card-view {
	padding: 16px;
}

#card-view .card {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 24px;

	background: #fff;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.125);
}

#card-view .card:not(:last-child) {
	margin-bottom: 18px;
}

/* CARD HEADER */

#card-view .card > h2 {
	margin: 0;
	font-weight: 300;
}

#card-view .card > .author {
	color: #888;
	font-size: 12px;
}

/* CARD CONTENT */

#card-view .card  .content {
	font-size: 14px;
}

#card-view .card .content p {
	margin: 6px 0;
}

#card-view .card  .content tt {
	display: inline-block;
	vertical-align: baseline;
	padding: 0 2px;

	background: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 2px;
}

#card-view .card  .content pre {
	display: block;
	padding: 4px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: scroll;
}

/* CARD META */

#card-view .card > hr {
	margin-bottom: 12px;
	border: 1px solid #ddd;
	border-bottom: none;
}

#card-view .card > .meta {
	display: flex;
	margin-bottom: -12px;
	color: #bbb;
}

#card-view .card > .meta > a {
	margin-right: 12px;
	color: inherit;
	text-decoration: none;
	font-size: 14px;
}

#card-view .card > .meta > a:hover {
	color: #3498db;
	text-decoration: underline;
}

#card-view .card > .meta > div {
	margin-top: -3px;
	margin-left: 16px;
}

#card-view .card > .meta > div > .fa {
	margin-right: 4px;
}

#card-view .card > .meta > .separator {
	flex: 1 1;
}

/* FOLLOWUP THREAD DELIMITERS */
.card.followup .thread:not(:last-child) {
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 18px;
}

.card.followup .thread .feedback {
	margin: 12px 0;
	padding: 1px 20px 10px 20px;
	border-left: 3px solid #eee;
	background: #fafafa;
}

/* FOLLOWUP THREAD META */
.card.followup .thread .meta {
	margin-bottom: -4px;
}

.card.followup .thread .feedback .meta {
	margin-top: 11px;
}
.card.followup .thread .meta .author {
	color: #888;
	font-size: 12px;
}

.card.followup .thread .meta .time {
	margin-left: 6px;
	color: #ccc;
	font-size: 12px;
}