#content {
	display: flex;
	flex: 1 1;
	width: 100%;
}

#header {
	height: 36px;
	background: #3498db;
	color: #fff;
}

#sidebar {
	width: 200px;

	background: #444;
	color: #fff;

	overflow: scroll;
}

#list {
	display: flex;
	flex-direction: column;
	width: 300px;
}

#card-view {
	flex: 1 1;

	background: #f4f4f4;

	overflow: scroll;
}