#account-info {
	margin: 0 12px;
	font-weight: 300;
}

#sidebar > .section > h2 {
	margin: 8px 12px 2px 12px;

	color: #888;

	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#sidebar .clickable {
	padding: 2px 12px;

	font-size: 12px;
	font-weight: 300;

	cursor: pointer;
}

#sidebar .course, #sidebar .option {
	padding: 4px 12px;
	font-size: 14px;
}

#sidebar .course .course-name {
	font-size: 10px;
	font-weight: 400;
}

#sidebar .course.inactive {
	color: #888;
}

#sidebar .clickable:hover, #sidebar .clickable.selected {
	background: rgba(255,255,255,0.125);
}

#sidebar > :first-child {
	margin-top: 16px;
}

#sidebar > :last-child {
	margin-bottom: 16px;
}

#sidebar .toggle {
	color: #bbb;
	font-size: 12px;
}

#sidebar .toggle:hover {
	background: rgba(255,255,255,0.0625)
}

#sidebar .toggle .toggle-icon {
	margin-right: 6px;
}